---
---

// Imports
@import "variables";
@import "greyscale";
@import "timeline";
@import "intro";


.ascii-art {
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  text-shadow: 5px 5px 10px rgba($dark, 0.3);
  font-size: 0.2vw;
  text-align: justify;
}


pre {
  overflow: inherit;
  font-size: 1vw;
  background-color: transparent;
  border: none;
  color:white;
}

.intro .intro-body .intro-text, .intro-text p {
  text-align: center;
}

.i-love {
  background-color: rgba(255,255,255,0.4);
  color: white;
  text-align: center;
}

body {
  background: rgba(255,78,81,1);
  background: -moz-linear-gradient(left, $accent 0%, $color5 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, $accent), color-stop(100%, $color5));
  background: -webkit-linear-gradient(left, $accent 0%, $color5 100%);
  background: -o-linear-gradient(left, $accent 0%, $color5 100%);
  background: -ms-linear-gradient(left, $accent 0%, $color5 100%);
  background: linear-gradient(to right, $accent 0%, $color5 100%);
}