
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: $light;
  background: rgba(255,78,81,1);
  background: -moz-linear-gradient(left, $accent 0%, $color5 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, $accent), color-stop(100%, $color5));
  background: -webkit-linear-gradient(left, $accent 0%, $color5 100%);
  background: -o-linear-gradient(left, $accent 0%, $color5 100%);
  background: -ms-linear-gradient(left, $accent 0%, $color5 100%);
  background: linear-gradient(to right, $accent 0%, $color5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4e51', endColorstr='#fc913a', GradientType=1 );
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  a {
    color: $color3;
  }
  a:hover {
    color: $dark;
  }
  ul.social-buttons li a {
    color: $color3;
    background-color: $dark;
  }
  ul.social-buttons li a:hover,
  ul.social-buttons li a:focus,
  ul.social-buttons li a:active {
    color: $dark;
    background-color: $color3;
  }

  .intro-body {
    display: table-cell;
    vertical-align: middle;
    .brand-heading {
      font-size: $font-size-huge;
    }
    .intro-text, .intro-text p  {
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      text-align: left;
      text-shadow: 0px 1px 1px rgba($dark, 0.3);
    }
  }
  .avatar {
    display: inline-block;
    width: 150px;
    height: 150px;
    float: left;
    border-radius: 50%;
    background: url('/img/silvia.jpg') center center no-repeat;
    background-size: cover;
  }
}

.i-love {
  text-align: left;
  margin: 0 0 35px;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px rgba($dark, 0.3);

  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 6px;

  .fa-heart {
    color: red;
  }
  .fa-bomb {
    color: $dark;
  }
  .typed {
    display:inline-block;
  }
}
@media(min-width:767px) {
  .intro {
    height: 100%;
    padding: 0;
  }

  .intro .intro-body .brand-heading {
    font-size: 20px;
  }

  .i-love {
    font-size: 40px;
  }
  .intro .intro-body .intro-text, .intro-text p {
    font-size: 25px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: left;
    text-shadow: 0px 1px 1px rgba($dark, 0.3);
  }
}