@import url("https://rsms.me/inter/inter.css");
@import 'tailwindcss' source('../../src');
@import './base.css' layer(base);
@import './components.css' layer(components);
@import './utilities.css' layer(utilities);

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
}

@utility text-stroke-* {
    -webkit-text-stroke-width: calc(--value(integer) * 1px);
    -webkit-text-stroke-color: --value(--color-*);
}

@utility text-fill-* {
    -webkit-text-fill-color: --value(--color-*);
}

@utility text-fill-transparent {
    -webkit-text-fill-color: transparent;
}

@theme {
    --color-primary: #FA5C5C;
    --color-secondary: #FD8A6B;
    --color-shade: #151013;
    --color-background: #FEC288;
    --text-notgiant: 6rem;
    --text-lessgiant: 9rem;
    --text-giant: 12rem;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
    .dark {
        --color-shade: #FEC288;
        --color-background: #151013;
    }
}