<!DOCTYPE html>
<html lang="en" class="dark">
  {% include 'layouts/partials/head.njk' %}
  <body>
    {# {% include 'layouts/partials/header.njk' %} #}
    {{ content | safe }}
    {# {% include 'layouts/partials/footer.njk' %} #}
  </body>
</html>
