<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

{% include head.html %}


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="{{site.url}}">
        <i class="fa fa-code"></i> {{ site.title }}
      </a>
    </div>
  </div>
</nav>
<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">&nbsp;</h1>
          <div class="i-love">
            OOPS, 404 <i class="fa fa-bomb" aria-hidden="true"></i>
          </div>
          <div class="intro-text">

            <span>Be right back, this page probably went to grab a coffee.</span>
          </div>
          <ul class="list-inline social-buttons">
            {% for network in page.social %}
            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }} fa-fw"></i></a></li>
            {% endfor %}
          </ul>
          {% capture title %}
          {% assign pages = site.pages | sort: "order" %}
          {% for page in pages %}
          {% if forloop.first %}{{ page.title }}{% endif %}{% endfor %}{% endcapture %}
        </div>
      </div>
    </div>
  </div>
</header>
{% include js.html %}

</body>
</html>
