---
title: 404 - Page not found
layout: base
permalink: 404.html
eleventyExcludeFromCollections: true
---

  <main>
    <div class="font-sans text-center pt-12 lg:pt-20">
      <h1 class="text-3xl lg:text-6xl 2xl:text-8xl">Nope</h1>
      <p class="mt-6 lg:mt-8 2xl:mt-12 text-xl lg:text-2xl 2xl:text-4xl">I don't exist.</p>
    </div>
  </main>